@import "./variables.scss";
@import "../fonts/Roboto/style.css";

:global {
  html,
  body,
  #root {
    height: 100%;
    display: block;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: $black;
    background: $page;
  }
}

a {
  text-decoration: none;
}
